@import '../../stylesheet/sass/main.scss';

.Container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include for-size(phone) {
    max-width: $phone-width;
  }
  @include for-size(tablet) {
    max-width: $tablet-width;
  }
  @include for-size(desktop) {
    max-width: $desktop-width;
  }
}
