@import '../../stylesheet/sass/vars';

.Login-Form-container {
  background-color: $white-color;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  min-width: 540px;
}

.LoginForm-form {
  display: grid;
  place-items: center;
  margin-top: 50px;
}
.Login-form-filed {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  margin-bottom: 40px;
  min-width: 410px;

  &:hover {
    &::after {
      content: ' ';

      position: absolute;

      left: 0;
      bottom: -10px;

      display: block;
      width: 45%;
      height: 4px;
      background-color: #24cca7;
      border-radius: 2px;
      box-shadow: 0px 1px 8px rgba(36, 204, 167, 0.5);
    }
    &::before {
      content: ' ';

      position: absolute;

      left: 0;
      bottom: -10px;

      display: block;
      width: 100%;
      height: 4px;
      background-color: #e5f1ef;
      border-radius: 2px;
    }
  }
}

.Login-email-field-icon,
.Login-password-field-icon {
  width: 24px;
  height: 24px;
  margin: 10px;
}

.LoginForm-field {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  background: #ffffff;
  border: none;
  margin-left: 10px;

  &:focus {
    border: none;
    outline: none;
  }
}

.Button {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $purple-color;
  min-width: 300px;
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid $purple-color;
  border-radius: 20px;
  background-color: $white-color;
  align-items: center;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $green-color;
    border: none;
  }
}

.Login-page-container {
  background: url(../../assets/images/Rectangle.png);

  background-repeat: no-repeat;
  width: 57%;
  padding: 136px 85px 77px 95px;
}

.Login-container {
  display: flex;
  margin: auto;
}
