@import '../../stylesheet/sass/vars';

.LoginFormContainer {
  background-color: $white-color;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 540px;
}

.LoginPageContainer {
  background: url(../../assets/images/Rectangle.png);
  background-repeat: no-repeat;
  max-width: 720px;
  padding: 136px 85px 116px 95px;
}

.LoginContainer {
  display: flex;
  margin: auto;
}
