@import '../../stylesheet/sass/main.scss';

.LogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogoTitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  line-height: 1.33;
}

.LogoIcon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
