@import './breakpoints';
@import './fonts';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  margin: 0;
  padding: 0;
}
